.docx*
1/Database_Cyrstal_36__export
1/Database_Insect_Head_36__export
1/Dataset_Cystal_18__export
Cone_Beam_CT_3D_Recon_export
Project #1_CT Filtered_Back Projection Image Reconstruction.docx
.DS_Store
__pycache__